settings.json
experiment_tracking.json

*.pyc
*.pth
*.so

cache/*
wandb/*
output/*
results/*
results_224/*
frames_results*/*
slit_scan_results/*
slit_scan_*/*
results*/*
merged_video_results/*
visualizations/*